$dark-red: #7b0101;
$black: #050505;
$red: #b80102;
$light-red: #da0106;
$yellow: #ffe600;
$light-orange: #ef9101;
$orange: #e14f01;

body {
  min-height: 100vh;
  font-family: "Nunito", sans-serif;
  display: grid;
  grid-template-rows: 14vh 80vh 6vh;
}

.header {
  background-color: $light-red;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
}

.header__manchester-logo-div {
  width: 100%;
  padding-left: 1.4rem;
  display: flex;
}

.image-container--logo {
  display: flex;
  align-items: center;
  margin-right: 1.2rem;
}

.header__titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__title,
.header__subtitle {
  text-transform: uppercase;
  margin: 0;
}

.header__title {
  font-weight: 900;
}

.header__subtitle {
  font-weight: 300;
}

.header__partner-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__img--manchester {
  width: 10rem;
}

.header__img--teamviewer {
  width: 16rem;
}

.menu__list {
  height: 100%;
  font-size: 3rem;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding-right: 3.2rem;
}

.menu__item {
  margin-left: 3rem;
}

.main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.main__aside {
  display: flex;
  flex-wrap: wrap;
  background-color: $black;
}

.section-card {
  width: 100%;
  border-radius: 1.2rem;
  background-color: white;
  margin: 2rem;
}
